body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 20px;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
}

.tab-content {
  margin-top: 20px;
}

.todos-section {
  margin-bottom: 30px;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table tbody tr:hover {
  background-color: #f9f9f9;
}